<br>
<br>
<section>
    <div class="container mt-5">
        <div class="row mb-4">
            <div class="col-xs-12 col-sm-8 col-md-10">
                <h2>Formulario Reactivo</h2>
            </div>
            <div class=" col-xs-12 col-sm-4 col-md-2">
                <button type="button" class="btn btn-primary float-right ml-3 btn-block" data-toggle="modal" data-target="#modalPersona">+ Agregar</button>
            </div>

        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Dni</th>
                            <th scope="col">Acciones</th>
                            <th scope="col">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let persona of personas">
                            <th scope="row">{{persona.id}}</th>
                            <td>{{persona.nombre}}</td>
                            <td>{{persona.apellido}}</td>
                            <td>{{persona.dni}}</td>
                            <td>
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalPersona" (click)="onPreUpdate(persona)">Actualizar</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" (click)="delete(persona)">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<app-form [personaActual]="personaActual"></app-form>
